:root {
  --cor-primaria: #e21;
  --cor-primeria-escura: #900;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px; /*Margem entre a logo e o menu, o menu e as divi de conteúdo*/
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%; /*para e ñ cescer mais que o tamano da tela*/
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3; /*Distâncias entre as linhas*/
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex; /*para criar um layout flexíve no container*/
  flex-wrap: wrap; /*Quebra o conteúdo quando diminuir a tela*/
  gap: 20px; /*margem entre os botão do menu*/
  justify-content: center; /*Quando quebrar a tela os butão ficar em centro*/
}

.menu a {
  display: block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
  border: 2px solid transparent; /*colocando a borda transparente*/
}

.menu a:hover {
  border-color: #e21; /*pintando a borda transparente*/
}

.conteudo {
  display: grid; /*Adicionando um grid ao conteudo*/
  grid-template-columns: 1fr 1fr; /*Adicionando duas colunas ao grid*/
  max-width: 1000px; /*O tamanho do conteúdo só almenta até 1000*/
}

/*1ª col e  1ª linha*/
.introducao {
  background-color: white;
  padding: 40px; /*Margem interna*/
  text-align: right; /*Alinhando o texto interno a direita */
  position: relative; /*Para poder colocar o elemento detalhe com 30px em relação a essa div (INTRODUÇÃO)*/
  display: grid;
  gap: 20px; /*Para separa o conteúdo*/
  align-content: center; /*Alinha o conteúdo ao centro*/
  justify-items: end; /*Para o conteúdo do grid ficar alinhado na esqueda*/
}

.introducao h1 {
  font-size: 2rem;
}

/*é desenho do traço*/
.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
/*Deixando a img do tamanho do texto*/
.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.detalhe {
  width: 60px;
  height: 4px;
  background-color: #ee2211;
  display: inline-block; /*para aparecer o detalhe*/
  position: absolute; /*Tira o elemento da sua área*/
  top: 30px; /*Deixando o detalhe a 30px em relação a div introdução*/
  right: -30px; /*Para posicionar o detalhe entre a foto e a div introdução*/
}

/*Botão ver mais*/
.vermais {
  background: #ee2211;
  color: white;
  padding: 1rem 2rem; /*Largura do butão*/
  border-radius: 4px;
}
.vermais:hover {
  background: #900;
}

.subtitulo {
  font-size: 4rem;
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  align-self: center; /*Alinhando no centro um item do grid*/
  background-image: url("./img/onda.svg");
  word-break: break-all; /*Quebrando a palavras quando diminui a tela*/
}

.vantagens {
  background: white;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr; /*A primeira col pega somente o tamanho da img(auto) a segunda col pega o tamanho que sobrou*/
  gap: 10px 20px; /*Distância entre img e conteúdo da outra coluna (10px é linha, 20px é col*/
  padding: 20px; /*Distanciar entre as divs*/
  border-left: 4px solid transparent; /*tamanho da bora fixa e transparente*/
}

/*Quando passar o mouse vai ficar vermelho*/
.vantagens-item:hover {
  border-color: #e21; /*Pintando a borda fixa*/
}

/*Deixando branco o fundo odd(ímpares) pintado com cinza claro*/
.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

/*Para colocar o 'p' dentro da segunda col*/
.vantagens-item p {
  grid-column: 2; /*O conteúdo vai para na segunda col*/
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: white;
  width: 100%;
  padding: 40px;
  text-align: center; /*Alinha o texto ao centro*/
  box-sizing: border-box; /*Para ele ter apenas os 100% do width*/
}

/*Quando a tela for menor que 1000px vai ficar apenas em uma coluna*/
@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr; /*Deixando uma coluna o grid apenas na parte de baixo*/
  }
  .subtitulo {
    text-align: center; /*Alinhando o texto grande quand a tela for 1000px*/
  }
}

/*Quando a tela for menor que 1000px vai ficar apenas em uma coluna*/
@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .conteudo {
    grid-template-columns: 1fr; /*Deixando todo o grid em uma col*/
  }
  .introducao {
    text-align: left; /*alinhando o texto a esquerda (paragrafo)*/
    justify-items: start; /*alinhando o texto a esquerda(Bicicletas Feitas a Mão)*/
  }
  .introducao::before {
    display: none;
  }
  .subtitulo {
    font-size: 3rem; /*Diminuindo o texto (VANTAGENS BIKCRAFT)*/
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem; /*Diminuindo o texto (VANTAGENS BIKCRAFT)*/
  }
}
